#app {
  width: 100%;
  height: 100%;

  .container {
    width: 100%;
    height: 100%;
    background-color: #fae9be;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
